/* .navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.9) !important;
} */

.col-elem {
	padding: 20px;
	outline: 1px solid rgba(72, 72, 72, 1);
	-moz-outline-radius: 10px;
	-webkit-outline-radius: 10px;
	height: 100vh;
	min-height: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.container {
	padding: 20px;
	outline: 1px solid rgba(72, 72, 72, 1);
	-moz-outline-radius: 10px;
	-webkit-outline-radius: 10px;
	min-height: 100vh !important;
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
	display: block;
}

.dropdown-item {
	background-color: #343a40;
	color: #f0f0f0;
}

.dropdown-item:hover {
	background-color: #515a63;
	color: #f0f0f0;
}

.dropdown-menu.show {
	background-color: #343a40;
}

#news-list > a {
	text-decoration: none !important;
	color: #f0f0f0;
}
#news-list > a:hover {
	text-decoration: none !important;
	color: #959faa;
}

.history-btn {
	display: "block";
	margin-bottom: 5px;
}

#history-list-container > a {
	text-decoration: none !important;
	color: #f0f0f0;
}
#history-list-container > a:hover {
	text-decoration: none !important;
	color: #959faa;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	margin-right: 5px;
}
