/* .navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.9) !important;
} */

.col-elem {
	margin-top: 10px;
	padding: 20px;
	outline: 1px solid rgba(72, 72, 72, 1);
	-moz-outline-radius: 10px;
	-webkit-outline-radius: 10px;
}
